<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Grades Menu</title>
</head>
<body>
    <div class="d-flex flex-column  align-items-center justify-content-center container " style=" margin-top: 120px; ">
        <h2>Choose a Bimester</h2>
        <div class="container d-flex flex-column p-3 rounded " style=" background-color: rgb(68, 68, 70); margin-top: 30px; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.705); max-width: 400px;">
            <% buttons.forEach( button => {  %> 
                <a href="/admin/updategrade/<%= button.id %>/<%= button.type %>" class="btn btn-info mt-2"><%= button.message %> </a>
            <% }) %>
            <a class="btn btn-info mt-5" href="/admin/home">Back</a>
        </div>
    </div>
    <h3 class="text-center mt-3 mb-3">Developed by <a class="text-secondary " style="text-decoration:none;" href="https://github.com/AugustoBernardes" >Augusto</a></h3>
</body>
</html>